/* GENERAL */
html,
body {
    font-family: "Comfortaa", cursive;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #ffd98e;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* REUSEABLE CLASSES */

.page-header {
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    padding: 3em 0;
    position: relative;
    top: 0;
}

.yellow-bg {
    background-color: #ffd98e;
}

.dark-yellow-bg {
    background-color: #ffb677;
}

/* HOMEPAGE */
#home {
    height: 100vh;
}
/* NAVBAR SECTION OF HOMEPAGE */
nav {
    width: 100vw;
    background-color: #86a337;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0.5em 1em;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.493);
}

.nav-tablet {
    display: none;
}

.nav-top-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.nav-logo i {
    font-size: 2rem;
    color: #ffb677;
}

.nav-dir {
    justify-self: end;
}

.nav-dir a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.nav-bottom-container {
    display: none;
    text-align: center;
    margin: 0 auto;
}

.nav-bottom-container ul {
    list-style: none;
}

.nav-bottom-container ul li {
    margin: 2em 0;
}

.nav-bottom-container ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

/* HERO SECTION OF HOMEPAGE*/
.hero-img {
    background-image: linear-gradient(
            rgba(55, 112, 62, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://images.pexels.com/photos/3135643/pexels-photo-3135643.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.493);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: #ffb677;
}

.hero-text h1 {
    font-size: 2rem;
    font-weight: 900;
}

.hero-text p {
    font-size: 1.25rem;
    font-weight: 900;
}

/* ABOUT ME */
.about-container {
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.493);
}

.about-text {
    text-align: justify;
    line-height: 2;
    font-size: 1.05rem;
    padding: 3em 1em;
}

/* PRODUCTS */
.product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.65fr 0.25fr 1fr 0.25fr;
    width: 95vw;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.493);
}

.card-1 {
    margin: 0 auto 3em;
}

.card-2 {
    margin: 0 auto;
}

.product-img {
    min-width: 100%;
    min-height: 100%;
    background-image: url("https://images.unsplash.com/photo-1608503021075-7f422167beee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-title {
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    padding: 1em 0;
    font-weight: 700;
}

.product-text {
    text-align: justify;
    line-height: 1.8;
    font-size: 1.05rem;
    padding: 0 1em;
}

.product-btn {
    margin: 1em auto;
    text-align: center;
    text-decoration: none;
    background-color: #86a337;
    color: white;
    padding: 0.8em 1.25em;
    font-size: 1.05rem;
    font-weight: 700;
    border-radius: 48px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.493);
    letter-spacing: 1px;
}

/* CONTACT ME */
form {
    display: grid;
    grid-template-rows: 0.15fr 0.15fr 0.5fr 0.15fr 0.25fr 0.25fr;
    padding: 0 1em;
    width: 95vw;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.493);
    margin: 0 auto;
    border-radius: 5px;
}

.name-input:focus,
.email-input:focus,
.message-input:focus {
    outline: none !important;
}

.name-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    text-align: center;
}

.email-input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    text-align: center;
}

.message-input {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
    resize: none;
}

.form-btn {
    cursor: pointer;
    border: none;
    margin: 1.5em auto;
    text-align: center;
    text-decoration: none;
    background-color: #86a337;
    color: white;
    padding: 0.8em 2.5em;
    font-size: 1.05rem;
    font-weight: 700;
    border-radius: 48px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.493);
    letter-spacing: 1px;
}

.phone-contact {
    text-align: center;
    margin: 0 auto;
}

.phone-contact ul {
    list-style: none;
}
.phone-contact ul li {
    display: inline-block;
    padding: 0 0.5em;
}

.phone-contact ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
}

.social-contact {
    text-align: center;
    margin: 0 auto;
}

.social-contact ul {
    list-style: none;
}
.social-contact ul li {
    display: inline-block;
    padding: 0 1em;
}

.social-contact ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
}

.phone-contact h4,
.social-contact h4 {
    padding: 1em;
    color: black;
}

/* FOOTER */
footer {
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
    margin: 0 auto;
    padding: 1.5em 1.5em;
    background-color: #86a337;
    margin-top: 6em;
}

.email-footer {
    text-decoration: none;
    color: white;
}

/* MEDIA QUERY FOR MEDIUM MOBILE AND BELOW */
@media screen and (max-width: 375px) {
    .product-container {
        grid-template-rows: 1.25fr 0.25fr 0.5fr 0.25fr;
    }
}

/* MEDIA QUERY FOR TABLETS */
@media screen and (min-width: 768px) {
    /* NAVBAR*/
    .nav-dir {
        display: none;
    }

    .nav-tablet {
        display: block;
        position: absolute;
        right: 3%;
        top: 25%;
    }

    .nav-tablet ul li {
        display: inline-block;
    }

    .nav-tablet ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.15rem;
        font-weight: 800;
        padding: 0 0.5em;
    }

    /* ABOUT ME */
    .about-container {
        width: 75vw;
    }

    /* PRODUCTS */
    .product-container {
        width: 75vw;
    }

    /* CONTACT ME */
    form {
        width: 75vw;
    }
}

/* MEDIA QUERY FOR LAPTOP AND UP */
@media screen and (min-width: 1024px) {
    .nav-dir {
        display: none;
    }

    .nav-tablet {
        display: block;
        position: absolute;
        right: 3%;
        top: 25%;
    }

    .nav-tablet ul li {
        display: inline-block;
    }

    .nav-tablet ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.15rem;
        font-weight: 800;
        padding: 0 0.15em;
    }

    /* ABOUT ME */
    .about-container {
        width: 50vw;
    }

    /* PRODUCTS */
    .products-container {
        display: flex;
    }

    .product-container {
        width: 40vw;
        height: 60vh;
    }

    /* CONTACT ME */
    form {
        width: 50vw;
    }
}

/* MEDIA QUERY FOR DESKTOP AND UP */
@media screen and (min-width: 1440px) {
    .nav-dir {
        display: none;
    }

    .nav-tablet {
        display: block;
        position: absolute;
        right: 3%;
        top: 25%;
    }

    .nav-tablet ul li {
        display: inline-block;
    }

    .nav-tablet ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.15rem;
        font-weight: 800;
        padding: 0 0.25em;
    }

    /* ABOUT ME */
    .about-container {
        width: 45vw;
    }

    /* PRODUCTS */
    .products-container {
        display: flex;
    }

    .product-container {
        width: 35vw;
        height: 60vh;
    }

    /* CONTACT ME */
    form {
        width: 45vw;
    }
}
